Source: libbpp-seq
Section: libs
Priority: optional
Maintainer: Julien Dutheil <julien.dutheil@univ-montp2.fr>
Build-Depends: debhelper (>= 5), cmake (>= 2.6), libbpp-core (>= 2.0.0), libbpp-core-dev (>= 2.0.0)
Standards-Version: 3.7.2

Package: libbpp-seq-dev
Section: libdevel
Architecture: any
Depends: libbpp-seq (= ${binary:Version}), libbpp-core-dev (>= 2.0.0)
Description: The Bio++ Sequence library development files.
 Contains the Bio++ classes for sequence analysis.

Package: libbpp-seq
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbpp-core (>= 2.0.0)
Description: The Bio++ Sequence library.
 Contains the Bio++ classes for sequence analysis.

